@model List<BlogApplication.Data.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Url</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.Id</td>
                <td>@blog.Title</td>
                <td><a href="@blog.Url">@blog.Url</a></td>
                <td><a href="/Blog/Edit/@blog.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

